/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.navbar {
  font-family: "Bricolage Grotesque", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.topnav-right {
  float: right;
}

#blueHead {
  color: #0B64CF;
}

.employee-actions-select {
  position: fixed;
  top: 140px;
  right: 20px;
  z-index: 1000; /* To ensure it appears above other elements */
}

.form-select {
  width: auto;
  display: inline-block;
}

.floating-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #1b6ec2;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  cursor: pointer; /* This makes the pointer appear */
  z-index: 1000; /* Ensures the icon stays on top */
}

.floating-icon p {
  margin: 0px;
}

.icon-white {
  background-color: #1b6ec2;
  color: white;
}

.icon-yellow {
  background-color: #feaa00;
  color: black;
}

.icon-red {
  background-color: red;
  color: white;
}

.message-count {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}