html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 2;
}

.navbarText {
  display: block;
  color: #ffffff;
  opacity: 2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  z-index: 1;
}

.navbar-brand {
  opacity: 1;
  z-index: 2;
}

.navbar a:hover {
  /* border-radius: 1000px;   */
  z-index: 2;
}

.navbar-light .navbar-nav .nav-link {
  color: #0d6efd;
}

.donationBlueBox,
.aboutBlueBox,
.indexBlueBox {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 178px;
  left: 0px;
  width: 100%;
  height: 457px;
  opacity: 1;
  text-align: center;
  /* UI Properties */
  background: #0b64cf 0% 0% no-repeat padding-box;
  z-index: 0;
}

#DonationTitle,
#AboutTitle {
  text-align: center !important;
  font-family: "Vista Sans OTCE Black", Arial, Helvetica, sans-serif;
  font-size: 3.6em;
  letter-spacing: 0.8px;
  color: #ffffff;
}

.BlueTitleH1 {
  font-family: "Bricolage Grotesque", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 2.4em;
  font-weight: bold;
  color: #102e68;
}

.BodyBlack {
  font-family: "Bricolage Grotesque", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 12px;
}

.section1 {
  padding-top: 700px;
}

.greenButton {
  /* Layout Properties */
  width: 100%;
  /* Ensure button width is responsive */
  max-width: 485px;
  /* Limit width for larger screens */
  height: 106px;
  font-size: 2em;
  color: white;
  font-family: "Bricolage Grotesque Bold", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-decoration: none;

  /* UI Properties */
  background: #248646;
  border-radius: 800px;
  opacity: 1;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row-md-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.col-md-height {
  display: flex;
  align-items: center;
  /* Center vertically */
  justify-content: center;
  /* Center horizontally */
}

.inside-full-height {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  margin-top: 0;
  background-size: cover;
  background-position: center;
}

.content-wrapper {
  padding: 3rem;
}

.rightLeftMargin {
  margin-right: 3rem;
  margin-left: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

#wallet {
  background-image: url("/images/Wallet.png");
  background-repeat: no-repeat;
  box-sizing: border-box;
  /* height: auto; */
  /* object-fit: cover; */
  width: 50vw;
  /* max-height: 100%; */
}

#monetaryDonations {
  width: 50vw;
  height: 100%;
  background: #b9d1f0 0% 0% no-repeat padding-box;
  opacity: 1;
}

.container {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
}

.spacerFromTop {
  margin-top: 184px;
}

/* .row > * {
  padding: 0px;
} */

.row.splitscreen > * {
  padding: 0px;
}

.splitscreen {
  display: flex;
}

a:hover {
  color: white;
}

.bg-white {
  --bs-bg-opacity: 0.5;
  background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
}

#givingFood {
  background-image: url("/images/GivingFood.png");
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: 80.6vw;
  width: 50vw;
}

#leftImgIndex {
  display: flex;
  flex: auto;
  justify-content: flex-start;
  z-index: 1;
  flex-direction: row;
  order: 1;
  max-height: 503px !important;
  max-width: 335px;
}

#centerIndexText {
  display: flex;
  width: 35%;
  justify-content: center;
  text-align: left;
  z-index: 1;
  flex-direction: row;
  order: 2;
  padding-left: 2em;
  padding-right: 2em;
}

.emptyFlexRight {
  display: flex;
  width: 35%;
  flex: auto;
  justify-content: flex-end;
  flex-direction: row;
  order: 3;
}

#rightImgIndex {
  display: flex;
  flex: auto;
  z-index: 1;
  flex-direction: row;
  top: 290px;
  left: 1317px;
  display: none;
}

.bodyWhite {
  font-family: "Bricolage Grotesque", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 12px;
  color: white;
  z-index: 1;
}

.indexBlueBox {
  background-color: #0b64cf;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.imageContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 10px;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#yourDonation {
  text-align: center !important;
  font-family: "Vista Sans OTCE Black", Arial, Helvetica, sans-serif;
  font-size: 3.6em;
  letter-spacing: 0.8px;
  color: #000000;
}

.alignTextCenter {
  text-align: center;
}

.flexCenter {
  display: flex;
  justify-content: center;
  text-align: left;
}

.donationH1 {
  font: "Bricolage Grotesque", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1.5rem;
}

.radio-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.radio-button {
  position: relative;
  display: flex;
  align-items: center;
}

.radio-button input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
}
.radio-text {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #0964cf;
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s, border-color 0.3s;
}

.radio-button input[type="radio"]:checked + .radio-text {
  background-color: #0964cf;
  border-color: #0964cf;
  color: white;
}

.radio-button input[type="radio"]:focus + .radio-text {
  border-color: #0964cf;
}

.iWantToGive {
}

#otherDollarAmount {
  display: flex;
  flex: 0 1 100%;
  padding-top: 20px;
}

#buttonCenter {
  display: flex;
  justify-content: center;
}

#submitDonationButton {
  background-color: #248646;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  border: 2px solid #248646;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
  font-size: 1.35em;
  font-weight: bold;
}

#otherDonationHelpBlock {
  color: #0339a6;
  font-size: 1em;
  padding-right: 1em;
  padding-left: 1em;
}

#otherAmountDiv {
  display: flex;
  justify-content: flex-start;
}

#OtherAmount {
  display: none;
  padding: 1em;
  flex-basis: 2000em;
}

.donationH2 {
  font-size: 1.25rem;
}
.donationH3 {
  font-size: 1.2rem;
}
