@page
@model MyApp.Namespace.AboutModel
@{
}

<div class="aboutBlueBox">
    <div id="AboutTitle">About Us</div>
</div>
<div class="section1">
    <div>
        <h1 class="BlueTitleH1 rightLeftMargin">Our Mission</h1>
        <p class="BodyBlack rightLeftMargin">
            At Community Link, our mission is simple yet powerful: to bring people together in times of need and to create a 
            network of support that empowers individuals and strengthens communities. We believe that every person deserves 
            access to the resources, assistance, and opportunities they need to overcome challenges and thrive. Whether it's 
            providing essential services, facilitating volunteer efforts, or offering a platform for people to connect with 
            those willing to help, we are here to foster collaboration and compassion. Our goal is to ensure no one in our 
            community faces difficulties alone—because together, we are stronger.
        </p>
    </div>
</div>
<div class="no-gutters splitscreen">
    <div class="col-md-6 col-md-height col-md-middle" id="givingFood">
        <div class="inside-full-height" style="background-image: url(/images/GivingFood.png);" loading="lazy">
        </div>
    </div>
     <div class="col-md-6 col-md-height col-md-middle">
        <div class="inside-full-height">
            <div class="content text-right">
                <div class="content-wrapper" id="monetaryDonations">
                    <h1 class="BlueTitleH1">Our Vision</h1>
                    <p class="BodyBlack">
                        Community Link envisions a world where no one has to face adversity alone. We strive to create a 
                        network where individuals can easily request and receive the help they need, and where the community 
                        responds with empathy and action. By leveraging the power of collaboration, we aim to reduce 
                        isolation and enhance the quality of life for all members of the community. Whether it's through 
                        financial assistance, volunteer efforts, or simply lending a hand, we believe that small acts of 
                        kindness have a ripple effect, creating lasting change.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>