@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="spacerFromTop">
</div>
<div class="container">
    <header class="text-center">
        <h1 class="display-4">Welcome</h1>
    </header>

    <!--Main content-->
    <main>
        <section id="welcomeInfo" class="text-center">
            <p>Welcome to Community Link!</p>
        </section>
        <!--Placeholder-->
        <section></section>
    </main>
</div>
