@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="spacerFromTop">
</div>

<img src="/images/placeholderIndex.svg" alt="Index placeholder image">

@* <div class="flexContainer">
<div class="indexBlueBox">
<div class="inside-full-height" style="background-image: url(/images/donationbins.png);" id="leftImgIndex">
</div>

<p id="centerIndexText" class="bodyWhite">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
ex
ea commodo consequat.
</p>
<div class="emptyFlexRight"></div>
</div>

</div>

<div class="imageContainer">
<img src="/images/verticalDonationBins.png" alt="vertical image of volunteers sorting donation bins"
class="indexImage" id="rightImgIndex">
</div> *@
